$o-theme-primary-color : #2D529E;
$o-theme-secondary-color : #ffc107;

$o-enterprise-color: $o-theme-primary-color !default;
$o-community-color: $o-theme-primary-color !default;
$o-brand-odoo: $o-theme-primary-color !default;
$o-brand-primary: $o-theme-secondary-color !default;
$o-brand-secondary: $o-theme-secondary-color !default;